<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAkMeZPIopBUCrOWlNCyDYt7EgjGOSY0Rc</string>
	<key>GCM_SENDER_ID</key>
	<string>847217202068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseStorage.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-storage-fe884</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-storage-fe884.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847217202068:ios:4098103863c997f1447581</string>
	<key>DATABASE_URL</key>
	<string>https://fir-storage-fe884-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>